
/*Formatting for the individual "post-it's"*/
.person{
    border: solid 1px #FFFFCC;
    margin:20px;
    padding:10px;
    box-shadow: 1px 5px 10px gray;
    background-color: #F9F9F0;
}

.person .button{
    width:25%;
    background: gray;
    border:none;
    margin:none;
    padding:5%;

}

.person h4{
    font-family: sans-serif;
}

/*Faux Crop*/
.profilePic{
    /*This is an arbitrary number, eyeballed it*/
    height: 20%; 
    overflow:hidden;
    padding: 0;
}

.profilePic img{
    width:100%;
}

#nav{
    background-color: gray;
}

.top-bar .fa{
    padding-top: .2em;
    color:white;
    padding-right: 5%;
    padding-left: 5%;
}