
/*Formatting for the individual "post-it's"*/
.person{
    margin:20px;
    padding:10px;
    box-shadow: 1px 5px 10px gray;
    background-color: #F9F9F9;
    border-radius: .5em;

}

.buttonarea{
    padding:0;
    margin:0 0 4em 0;
}

.buttonarea .button{
    width:45%;
    border:0;
    margin:0;
    padding:5%;
    border-radius: .5em;
    background-color:gray;

}

.person h4{
    font-family: sans-serif;
}

/*Faux Crop*/
.profilePic{
    /*This is an arbitrary number, eyeballed it*/
    height: 20%; 
    overflow:hidden;
    border-radius: .5em;
    padding: 0;
}

.profilePic img{
    width:100%;
}

.top-bar{
}

.top-bar .fa{
    color:white;
    padding:.2em 5% 0 5%;
}