
/*Formatting for the individual "post-it's"*/
.person{
    margin:20px;
    padding:10px;
    box-shadow: 1px 5px 10px gray;
    background-color: #F9F9F9;
    border-radius: .5em;
}

/*Spacing Issues for major, year*/
.person .details *{
    vertical-align: top;
    margin:0 auto 0 auto;
    height:.7em;

}

.buttonarea{
    margin:0 0 4em 0;
}

.buttonarea .button{
    width:45%;
    border:0;
    margin:0;
    padding:5%;
    border-radius: .5em;
    /*Button Color*/
    background-color:gray;

}

.person h4{
    font-family: sans-serif;
}

/*Faux Crop*/
.profilePic{
    /*This is an arbitrary number, eyeballed it*/
    overflow:hidden;
    
}

.profilePic img{
    width:100%;
    border-radius: .5em;
}

.top-bar{
    padding-right:2%;
}

.top-bar .fa{
    color:white;
    padding:.2em 5% 0 5%;
}

.name center h1{
    color:white;
    /*
    padding-left: 10%
    There are some issues when we expand this to go to a normal sized screen.
    Will look into it later.
    */
}

.searchbar div{
    padding:0;
}

.searchbar .fa-search{
    text-align: center;
    vertical-align:text-bottom;
    height:100%;
    background-color: gray;
    padding:.75em;
    margin-left: 0;
    border-radius: .5em;
    margin-left: 1em;
    color:white;
}

.person input[type="checkbox"] + label{
    display:inline-block;
    width:5%;
    vertical-align:middle;
    margin:-2.5em 2em 2em -1.7em;
}

#submit{
    width:100%;
    background-color:gray;
}

